{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
	.div-inline {
      display:inline-block;
    }
</style>
<div class="container">
    <form id="paswordform" class="form-horizontal" role="form" method="post" action="{% url 'mainapp:passwordforgotten' %}"><!--action="{% url 'mainapp:signup' %}"-->
        {% csrf_token %}
        <h1>Forgotten your Password?</h1><br><br>
        <h4>Please fill your details below!</h4>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
                <input type="email" id="email" name="email" placeholder="Email" class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="fullname" class="col-sm-3 control-label">Full Name</label>
            <div class="col-sm-9">
                <input type="text" id="fullname" name="fullname" placeholder="Full Name" class="form-control" maxlength="30" required/>
            </div>
        </div>
        <div class="form-group">
            <label for="birthDate" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-9">
                <input type="date" id="birthDate" name="birthDate"  class="form-control" required/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9 col-sm-offset-3">
                <button type="submit" class="btn btn-primary btn-block">Request</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    /* Code to prevent users from choosing future data-of-birth*/
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();

    if(dd<10){
        dd='0'+dd
    }
    if(mm<10){
        mm='0'+mm
    }
    today = yyyy+'-'+mm+'-'+dd;
    document.getElementById("birthDate").setAttribute("max", today);
    function postToRequest(){
        var email = document.getElementById("email").value;
        var fullname = document.getElementById("fullname").value;
        var birthDate = document.getElementById("birthDate").value;

        // $.ajax({
        //     type: "POST",
        //     data:{
        //         email: email,
        //         fullname: fullname,
        //         birthDate: birthDate,
        //         csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
        //     }
        // })
    }
	// function postToRequest(){
	// 	var emailvalue = document.getElementById("requestemailvalue").value;
	// 	console.log(emailvalue);
	// 	$.ajax({
	// 		type: "POST",
	// 		data: {
 //                email: emailvalue,
 //                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
 //            },
 //            success: function(message){
 //                alert(message);
 //            	if(!document.getElementById("confirmationidvalue")){
 //                    $("#paswordform").append('<br><div class="input-group"><input id="confirmationidvalue" placeholder="Enter your confirmation id here here" class="form-control width100" required><span class="input-group-btn" required><button class="btn btn-primary" onclick="checkconfirmationid();return false;">Submit</button></span></div>');
 //            	}
 //            }
	// 	})
	// }

	// var checkconfirmationid =  function(){
	// 	var idvalue = document.getElementById("confirmationidvalue").value;
 //        $.ajax({
 //            type: "POST",
 //            data: {
 //                idvalue: idvalue,
 //                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
 //            },
 //            success: function(message){
 //                if(message=="codevalid"){
 //                    $("#paswordform").append('<br><div class="input-group"><input id="newpassword" placeholder="Enter your new password here" class="form-control width100" required><span class="input-group-btn" required><button class="btn btn-primary" onclick="sendpasword();return false;">Submit</button></span></div>');
 //                }
 //                else{
 //                    alert("You code is invalid, please try again!")
 //                }
 //            }
 //        })
	// }
 //    console.log("AA");
</script>
{% endblock %}