{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<style type="text/css">
}
.center_div{
    margin: 0 auto;
    width:80% /* value of your choice which suits your alignment */
}
</style>
<div class="container">
    <form class="form-horizontal" role="form" method="post"><!--action="{% url 'mainapp:signup' %}"-->
        {% csrf_token %}
        <h2>Login</h2>
        <div class="form-group">
            <label for="email_address" class="col-sm-3 control-label">E-Mail Address</label>
            <div class="col-sm-9">
                <input type="text" id="email" class="form-control" placeholder="E-Mail" required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" placeholder="Password" minlength="8" class="form-control" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary" onclick="postTologin();return false;">Login</button>
                <a href="{% url 'mainapp:passwordforgotten' %}" class="btn btn-link">Forgot Your Password?</a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function postTologin(){
        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        console.log(email);
        console.log(password);
        $.ajax({
            type: "POST",
            data: {
                email: email,
                password: password,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(info){
                if(info=="Sorry! Username and Password didn't match, Please try again!"){
                    Swal.fire({ icon: 'error', title: 'Oops...', text: "Sorry! Username and Password didn't match, Please try again!"})
                    // alert("Sorry! Username and Password didn't match, Please try again!")
                }
                else{
                    window.location = "{% url 'mainapp:index' %}";
                    // history.back(-2);
                }
                // Code for returing to privous page after successfull login
                // else{
                //     var previous_URL = document.referrer;                    
                //     previous_URL = previous_URL.split("/");

                //     if(previous_URL[3]=="signup" || previous_URL[3]=="login"){
                //         var authority = previous_URL.slice(0, 3);
                //         authority[1]="//";
                //         authority = authority.join("");
                //         //var url = "{% url 'mainapp:index' %}"
                //         var final_URL = authority+"/"
                //         window.location = final_URL;
                //         return;
                //     } else {
                //         var authority = previous_URL.slice(0, 3);
                //         authority[1]="//";
                //         authority = authority.join("");
                //         var fragment = previous_URL.slice(3);
                //         fragment = fragment.join("/");
                //         var final_URL = authority+"/"+fragment
                //         window.location = final_URL;
                //     }
                // }
            }
        })
    }
</script>
{% endblock %}