{% extends "mainapp/base.html" %}
{% load static %}
{% block content %}
<div class="container">
	<h3>We've emailed you instructions for setting your password, if an account exists with the email and details you entered. You should receive them shortly.</h3>
	<h3>If you don't receive an email, please make sure you've entered the address you registered with, check other entered details and check your spam folder.</h3>
	<a href="{% url 'mainapp:login' %}" class="link-button">Go to Login Page</a>
</div>
{% endblock %}